# Ignore everything
/*

# Except these files and folders
# Folders
!/gradle
!/src
!/.github

# Files
!/BUILDING.md
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/checkstyle.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle
!/proguard.conf

!/minecraft
!/junit

# MacOS junk files
.DS_Store
